<div class="px-8 py-4 h-screen">
    <h1>
        Countries Catalog Implementation
    </h1>
    <p-table #dt [globalFilterFields]="['name.official']" [value]="countries" [loading]="loading" [showCurrentPageReport]="true" [rows]="25" [paginator]="true" [rowsPerPageOptions]="[25,50,100]" [pageLinks]="0">
        <ng-template pTemplate="caption">
            <div class="table-header flex gap-2">
                <button (click)="btnSortBy('Ascending')" pButton type="button" label="Ascending" class="p-button-outlined p-button-secondary"></button>
                <button (click)="btnSortBy('Descending')" pButton type="button" label="Descending" class="p-button-outlined p-button-secondary"></button>
                <span class="p-input-icon-right">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search by Country Name" class="" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="paginator" pTemplate="paginatorleft"></ng-template>
        <ng-template pTemplate="header">
            <tr class="text-left">
                <th class="w-6rem">Flags</th>
                <th class="" >Name</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-country>
            <tr>
                <td class="w-6rem">
                    <img [src]="country.flags.png" class="w-3rem">
                </td>
                <td class="cursor-pointer hover:underline" (click)="showDialog(country)">{{country.name.official}}</td>
            </tr>
        </ng-template>
    </p-table>

    <p-dialog [header]="country?.name?.official" [(visible)]="display" [style]="{width: '50vw'}">
        <img [src]="country?.flags?.png" class="w-5rem">
        <p>
            2 character Country Code : {{country?.cca2}}
        </p>
        <p>
            3 character Country Code : {{country?.cca3}}
        </p>
        <p>
            Native Country Name : {{country?.name?.nativeName}}
        </p>
        <p>
            Alternative Country Name : {{country?.altSpellings}}
        </p>
        <p>
            Country Calling Codes : {{country?.idd?.suffixes[0]}}
        </p>
    </p-dialog>

</div>
